<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<volist name="infor" id="ce"> 
<title>{$ce['information_title']}_{$base['base_title']}</title>
</volist>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="__PUBLIC__/Desai/shouye/Css/layout.css" rel="stylesheet" media="screen" type="text/css" />
<link href="__PUBLIC__/Desai/shouye/Css/common.css" rel="stylesheet" media="screen" type="text/css" />
<link href="__PUBLIC__/Desai/shouye/Css/element.css" rel="stylesheet" media="screen" type="text/css" />
<link rel="Bookmark" href="__PUBLIC__/Desai/desai.jpeg" >
<link rel="Shortcut Icon" href="__PUBLIC__/Desai/desai.jpeg" />
<meta http-equiv="mobile-agent" content="format=xhtml;url=/m/list.php?tid=1">
<script type="text/javascript">if(window.location.toString().indexOf('pref=padindex') != -1){}else{if(/AppleWebKit.*Mobile/i.test(navigator.userAgent) || (/MIDP|SymbianOS|NOKIA|SAMSUNG|LG|NEC|TCL|Alcatel|BIRD|DBTEL|Dopod|PHILIPS|HAIER|LENOVO|MOT-|Nokia|SonyEricsson|SIE-|Amoi|ZTE/.test(navigator.userAgent))){if(window.location.href.indexOf("?mobile")<0){try{if(/Android|Windows Phone|webOS|iPhone|iPod|BlackBerry/i.test(navigator.userAgent)){window.location.href="/m/list.php?tid=1";}else if(/iPad/i.test(navigator.userAgent)){}else{}}catch(e){}}}}</script>
<script language="javascript" type="text/javascript" src="__PUBLIC__/Desai/shouye/JS/j.js" ></script>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/CSS/page.css" />
<script type="text/javascript">
$(function () { 
var ie6 = document.all; 
var dv = $('#channel_scroll'), st; 
dv.attr('otop', dv.offset().top); //存储原来的距离顶部的距离 
$(window).scroll(function () { 
st = Math.max(document.body.scrollTop || document.documentElement.scrollTop); 
if (st > parseInt(dv.attr('otop'))) { 
if (ie6) {
 //IE6不支持fixed属性，所以只能靠设置position为absolute和top实现此效果 
dv.css({ position: 'absolute', top: st }); 
} 
else if (dv.css('position') != 'fixed') dv.css({ 'position': 'fixed', top: 0 }); 
} else if (dv.css('position') != 'static') dv.css({ 'position': 'static' }); 
}); 
}); 
</script>
</head>
<body class="articlelist">
<!--顶部-->

<div class="index_head">
<div class="index_logo">
<img src="__ROOT__.{$image['image']}"width="53" height="53"/>
</div>

<div class="index_name">
{$base['base_title']}
</div>

<div class="index_tel">
<span>联系电话：{$contact['contact_phone']}/{$contact['contact_telephone']}</span>
</div>
</div>
<!--顶部-->
<!--导航-->
<div class="index_nav">
	<dl class="index_nav_ul">
	<dt class="index_nav_li"><a href="{:U('Index/index')}">网站首页</a></dt>
        <volist name="column" id="co">
	<dt class="index_nav_li"><a href='{:U("Desai/Index/read?id=".$co["id"])}' >{$co['class_title']}</a></dt>
        </volist>
        <dt class="index_nav_li"><a href="{:U('Index/body_gs?id='.$zizhi['id'].'&'.'uid='.$zizhi['uid'])}" >{$zizhi1['class_title']}</a></dt>
        <dt class="index_nav_li"><a href="{:U('Index/info?id='.$info['id'])}" >{$info['cate_title']}</a></dt>
         <dt class="index_nav_li"><a href="{:U('Index/body_gg?id='.$phone['id'].'&'.'uid='.$phone['uid'])}" >{$phone['class_title']}</a></dt>
	<dt class="index_nav_li"><a href='{:U("Desai/Index/feddback")}'>在线留言</a></dt>
	</dl>
</div>
<!--主体-->
		<include file="./Application/Public/zhongbu.html" />
    
	<div class="con_sub_right">
            
		<div class="con_sub_right_head">
                    <volist name="infor" id="ce"> 
			<div class="con_sub_right_head_mark"></div>
			<div class="con_sub_right_head_name core">{$ce['information_title']}</div>
                        </volist> 
                        <div class="con_sub_right_head_more">
                            <span style="font-weight:bold;">当前位置: </span>
                            <a href="{:U('Index/index')}">主页</a> >
                        <a href='{:U("Desai/Index/info?id=".$infot["uid"])}'>{$infot['cate_title']}</a> > 
                          </div>
                    </div>
                
		<div class="con_sub_right_con">
                    <volist name='infor' id='ro'>
			<h3>{$ro['information_title']}</h3>
			<div class="con_sub_right_con_con">
                            <span style="display: none;">&nbsp;</span><span style="display: none;">&nbsp;</span>
				{$ro['information_body']}
<div class="para" jquery180002784953624027864="258">
	<span style="color:#000000;"><span style="font-size:20px;"><span class="headline-content"><span id="cke_bm_92E" style="display: none;">&nbsp;</span></span></span></span></div>
<span style="display: none;">&nbsp;</span>
			</div>
                        </volist>
		</div>
	</div>
	<div style="clear:both;"></div>
</div>
<script>
$(document).ready(function(){
    //限制字符个数
    $(".core").each(function(){
        var maxwidth=16;
        if($(this).text().length>maxwidth){
            $(this).text($(this).text().substring(0,maxwidth));
            $(this).html($(this).html()+'..');
        }
    });
});
                </script>
<!--主体-->
<div style="clear:both;"></div>
<script language=javascript> 
setTimeout("document.form1.submit()",1000);
</script> 
<!--底部-->
<include file="./Application/Public/yoko.html" />
