<!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="Bookmark" href="__PUBLIC__/Admin/favicon.ico" >
<link rel="Shortcut Icon" href="__PUBLIC__/Admin/favicon.ico" />
<!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5shiv.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>

<![endif]-->
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/static/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/static/h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/lib/Hui-iconfont/1.0.8/iconfont.css" />

<link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/static/h-ui.admin/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/static/h-ui.admin/css/style.css" />
<!--[if IE 6]>
<script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<!--/meta 作为公共模版分离出去-->

<link href="__PUBLIC__/Admin/lib/webuploader/0.1.5/webuploader.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="page-container">
	<form class="form form-horizontal" id="form-article-add">
            <input type="hidden" name="id" id="id" value="{$row['id']}" >
            <input type="hidden" name="uid" id="uid" value="{$row['uid']}">
             <input type="hidden" name="thumb_path" >
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>标题：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$row1['title']}" placeholder="" id="title" name="title">
			</div>
		</div>
             <div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">二维码：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<div class="uploader-thum-container">
                                    <div id="fileList" class="uploader-list">
                                         <input type="hidden" name="image" id="image" value="{$row1['image']}">
                                        <img width="180" src="__ROOT__.{$row1['image']}">
                                    </div>
					<div id="filePicker">选择图片</div>       
					<button id="btnstar" type="button" class="btn btn-default btn-uploadstar radius ml-10">开始上传</button>
				</div>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">所属栏目：</label>
			<div class="formControls col-xs-8 col-sm-9"> <span class="select-box">
                                {$row['class_title']}
				</span> </div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">报告文号：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$row1['document_number']}" placeholder="" id="document_number" name="document_number">
			</div>
		</div>
                <div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">防伪编码：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$row1['code']}" placeholder="" id="code" name="code">
			</div>
		</div>
                    <div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">委托单位：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$row1['company']}" placeholder="" id="company" name="company">
			</div>
		</div>
                <div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">评估公司名称：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$row1['company_title']}" placeholder="" id="company_title" name="company_title">
			</div>
		</div>
                <div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">报告日期：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$row1['report_date']}" placeholder="" id="report_date" name="report_date">
			</div>
		</div>
                <div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">被评审单位地址：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$row1['locations']}" placeholder="" id="locations" name="locations">
			</div>
		</div>
             <div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">签名评估师：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$row1['appraiser']}" placeholder="" id="appraiser" name="appraiser">
			</div>
		</div>
             <div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">联系电话：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$row1['telephone']}" placeholder="" id="telephone" name="telephone">
			</div>
		</div>
             <div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">联系手机：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$row1['phone']}" placeholder="" id="phone" name="phone">
			</div>
		</div>
             <div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">通讯地址：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$row1['address']}" placeholder="" id="address" name="address">
			</div>
		</div>
             <div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">电子邮件：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$row1['emali']}" placeholder="" id="emali" name="emali">
			</div>
		</div>
             <div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">公司网址：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$row1['company_url']}" placeholder="" id="company_url" name="company_url">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">声明：</label>
			<div class="formControls col-xs-8 col-sm-9"> 
                            <textarea id="statement" name="statement" class="textarea" >{$row1['statement']}</textarea> 
			</div>
		</div>
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
				<button id="but" class="btn btn-secondary radius" type="button"><i class="Hui-iconfont">&#xe632;</i> 保存</button>
				<button onClick="layer_close();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
			</div>
		</div>
	</form>
</div>

<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="__PUBLIC__/Admin/lib/jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript" src="__PUBLIC__/Admin/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/static/h-ui/js/H-ui.min.js"></script> 
<script type="text/javascript" src="__PUBLIC__/Admin/static/h-ui.admin/js/H-ui.admin.js"></script> <!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__PUBLIC__/Admin/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/lib/jquery.validation/1.14.0/jquery.validate.js"></script> 
<script type="text/javascript" src="__PUBLIC__/Admin/lib/jquery.validation/1.14.0/validate-methods.js"></script> 
<script type="text/javascript" src="__PUBLIC__/Admin/lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/lib/webuploader/0.1.5/webuploader.min.js"></script> 
<script type="text/javascript" src="__PUBLIC__/Admin/lib/ueditor/1.4.3/ueditor.config.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/lib/ueditor/1.4.3/ueditor.all.min.js"> </script>
<script type="text/javascript" src="__PUBLIC__/Admin/lib/ueditor/1.4.3/lang/zh-cn/zh-cn.js"></script>
<script type="text/javascript">
    $(function(){
       $('#but').click(function(){
          var id = $("#id").val();
          var uid = $('#uid').val();
          var image = $('#image').val();
          var document_number = $('#document_number').val();
          if(document_number == ''){
            layer.msg('请输入报告文号',{icon:5,time:1000});
            return false; 
          }
          var code = $('#code').val();
          var company = $('#company').val();
          var company_title = $("#company_title").val();
          var report_date = $("#report_date").val();
          var locations = $("#locations").val();
          var appraiser = $('#appraiser').val();
          var telephone = $('#telephone').val();
          if(!/^0\d{2,3}-?\d{7,8}$/.test(telephone)){
            layer.msg('非法错误，电话号不合法！',{icon:5,time:1000});
            return false;
          }
          var phone = $('#phone').val();
          if(!/^1\d{10}$/.test(phone)){
            layer.msg('非法错误，手机号不合法！',{icon:5,time:1000});
            return false;
          }
          var address = $("#address").val();
          var emali = $("#emali").val();
          if(!/^(\w-*\.*)+@(\w-?)+(\.\w{2,})+$/.test(emali)){
            layer.msg('非法错误，邮箱不合法！',{icon:5,time:1000});
            return false;
          }
          var company_url = $("#company_url").val();
          if(!/[\w\-_]+(\.[\w\-_]+)+([\w\-\.,@?^=%&:/~\+#]*[\w\-\@?^=%&/~\+#])?/.test(company_url)){
          layer.msg('请输入合法的网址',{icon: 5,time:1000});
          return false; 
          }
          var title =$('#title').val();
          if(title == ''){
              layer.msg("请输入标题");
              return false;
          }
          var statement =$("#statement").val();
          if(statement == ''){
              layer.msg("请输入声明");
              return false;
          }
          var url="{:U('Column/security_updates')}";
          var data={
              id:id,uid:uid,image:image,document_number:document_number,code:code,company:company,statement:statement,
              company_title:company_title,report_date:report_date,locations:locations,appraiser:appraiser,
              telephone:telephone,phone:phone,address:address,emali:emali,company_url:company_url,title:title
          };
          var dataType='json';
          $.get(
                url,
                data,
                function(d){
                        if(d.code == 0){
                            layer.msg(d.msg,{icon: 6,time:1000});
                            layer.closeAll();
                            parent.location.reload();
                            location.href = "{:U('Index/index')}";
                        }else if(d.code == 1){
                            layer.msg(d.msg,{icon: 5,time:1000});
                        }
                    },
                    dataType,
                );
                return false;
       });
    });
    
    $(function(){
        /*init webuploader*/  
        var $list=$("#fileList");   //这几个初始化全局的百度文档上没说明，好蛋疼。  
        var $btn =$("#btnstar");   //开始上传  
        var thumbnailWidth = 100;   //缩略图高度和宽度 （单位是像素），当宽高度是0~1的时候，是按照百分比计算，具体可以看api文档  
        var thumbnailHeight = 100;  

        var uploader = WebUploader.create({  
            // 选完文件后，是否自动上传。  
            auto: false,  

            // swf文件路径  
            swf: '__PUBLIC__/Admin/lib/webuploader/0.1.5/Uploader.swf',  

            // 文件接收服务端。  
            server: "{:U('Admin/Column/security_adver_upload')}",  

            // 选择文件的按钮。可选。  
            // 内部根据当前运行是创建，可能是input元素，也可能是flash.  
            pick: '#filePicker',  

            // 只允许选择图片文件。  
            accept: {  
                title: 'Images',  
                extensions: 'gif,jpg,jpeg,bmp,png',  
                mimeTypes: 'image/*'  
            },
            method:'POST',  
            fileNumLimit: 1,
        });  
        // 当有文件添加进来的时候  
        uploader.on( 'fileQueued', function( file ) {  // webuploader事件.当选择文件后，文件被加载到文件队列中，触发该事件。等效于 uploader.onFileueued = function(file){...} ，类似js的事件定义。  
            var $li = $(  
                    '<div id="' + file.id + '" class="file-item thumbnail">' +  
                        '<img>' +  
                        '<div class="info">' + file.name + '</div>' +  
                    '</div>'  
                    ),  
                $img = $li.find('img');  


            // $list为容器jQuery实例  
            $list.append( $li );  

            // 创建缩略图  
            // 如果为非图片文件，可以不用调用此方法。  
            // thumbnailWidth x thumbnailHeight 为 100 x 100  
            uploader.makeThumb( file, function( error, src ) {   //webuploader方法  
                if ( error ) {  
                    $img.replaceWith('<span>不能预览</span>');  
                    return;  
                }  

                $img.attr( 'src', src );  
            }, thumbnailWidth, thumbnailHeight );  
        });  
        // 文件上传过程中创建进度条实时显示。  
        uploader.on( 'uploadProgress', function( file, percentage ) {  
            var $li = $( '#'+file.id ),  
                $percent = $li.find('.progress span');  

            // 避免重复创建  
            if ( !$percent.length ) {  
                $percent = $('<p class="progress"><span></span></p>')  
                        .appendTo( $li )  
                        .find('span');  
            }  

            $percent.css( 'width', percentage * 100 + '%' );  
        });  

        // 文件上传成功，给item添加成功class, 用样式标记上传成功。  
        uploader.on('uploadSuccess', function( file, res) {  
            if(res.image){
                 //alert(res.img_path);
                 $("input[name='image']").val(res.image);

                 //alert($("input[name='img_path']").val());
            }
            $( '#'+file.id ).addClass('upload-state-done');  
        });

        // 文件上传失败，显示上传出错。  
        uploader.on( 'uploadError', function( file ) {  
            var $li = $( '#'+file.id ),  
                $error = $li.find('div.error');  

            // 避免重复创建  
            if ( !$error.length ) {  
                $error = $('<div class="error"></div>').appendTo( $li );  
            }  

            $error.text('上传失败');  
        });  

        // 完成上传完了，成功或者失败，先删除进度条。  
        uploader.on( 'uploadComplete', function( file ) {  
            $( '#'+file.id ).find('.progress').remove();  
        });  
           $btn.on( 'click', function() {  
             //console.log("上传...");  
             uploader.upload();  
             layer.msg('上传成功',{icon: 6,time:1000});
             //console.log("上传成功");  
             //alert('上传成功');
           });  
});
</script>
</body>
</html>